<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prakharagarwal.fingerlickingawesome">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <supports-screens android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/bingeicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden">
        <activity android:name=".MainScreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Extra.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".MainScreen.MainActivity" />
        <activity
            android:name=".Extra.MenuActivity"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".StoriesMenu.StoriesActivity"
            android:label="@string/title_activity_stories" />
        <activity
            android:name=".Review.ReviewActivity"
            android:label="@string/title_activity_review" />
        <activity
            android:name=".Review.WriteReviewActivity"
            android:label="@string/title_activity_write_review" />
        <activity
            android:name=".Review.UploadReviewStoryActivity"
            android:label="@string/title_activity_upload_review_story"></activity>
    </application>

</manifest>